/*/////////////////////////////////
//////////   BODY LEVEL
////////////////////////////////*/

body {font-family: var(--primary-font); line-height: 200%; color: var(--body-text-color); background-color: var(--body-background); font-weight: var(--font-light); transition: 300ms ease; font-size: 18px;}

p {line-height: 170%;}

