/*/////////////////////////////////
//////////   CODE HIGHLIGHT
////////////////////////////////*/

.highlight {
    pre {padding: 25px 30px; border-radius: 3px;
        code {background: transparent; padding: 0;}
    }
}

code {color: #d63384; background: #ffe3df; padding: 3px 10px; border-radius: 5px;}