/*/////////////////////////////////
//////////   THEME VARIABLES
////////////////////////////////*/


/*//////////////////////////////////////
//   THEME VARIANT 1 KASHMIR BLUE
/////////////////////////////////////*/
body.kashmir-blue-theme {
    --body-background: #f2f2f2;
    --heading-color: #333333;
    --body-text-color : #646464;
    --primary-theme-color : #557A95;
    --secondary-theme-color : #B0A295;
    --cards-bg-color: #fff;
    --box-shadow-1 : 20px 37px 102px rgba(0,0,0,0.09);
    --box-shadow-1-hover : 20px 37px 102px rgba(0,0,0,0.2);
}

/*//////////////////////////////////////
//   THEME VARIANT 2 Cashmere
/////////////////////////////////////*/
body.cashmere-theme {
    --body-background: #f2f2f2;
    --heading-color: #333333;
    --body-text-color : #646464;
    --primary-theme-color : #DDAF98;
    --secondary-theme-color : #256252;
    --cards-bg-color: #fff;
    --box-shadow-1 : 20px 37px 102px rgba(0,0,0,0.09);
    --box-shadow-1-hover : 20px 37px 102px rgba(0,0,0,0.2);
}

/*//////////////////////////////////////
//   THEME VARIANT 3 Terra Cotta
/////////////////////////////////////*/
body.terra-cotta-theme {
    --body-background: #f2f2f2;
    --heading-color: #333333;
    --body-text-color : #646464;
    --primary-theme-color : #ED695F;
    --secondary-theme-color : #F4B8BE;
    --cards-bg-color: #fff;
    --box-shadow-1 : 20px 37px 102px rgba(0,0,0,0.09);
    --box-shadow-1-hover : 20px 37px 102px rgba(0,0,0,0.2);
}


/*//////////////////////////////////////
//   THEME VARIANT 4 Biloba Flower
/////////////////////////////////////*/
body.biloba-flower-theme {
    --body-background: #f2f2f2;
    --heading-color: #333333;
    --body-text-color : #646464;
    --primary-theme-color : #B088F9;
    --secondary-theme-color : #98ACF8;
    --cards-bg-color: #fff;
    --box-shadow-1 : 20px 37px 102px rgba(0,0,0,0.09);
    --box-shadow-1-hover : 20px 37px 102px rgba(0,0,0,0.2);
}

/*//////////////////////////////////////
//   THEME VARIANT 5 Smalt Blue
/////////////////////////////////////*/
body.smalt-blue-theme {
    --body-background: #f2f2f2;
    --heading-color: #333333;
    --body-text-color : #646464;
    --primary-theme-color : #456268;
    --secondary-theme-color : #79A3B1;
    --cards-bg-color: #fff;
    --box-shadow-1 : 20px 37px 102px rgba(0,0,0,0.09);
    --box-shadow-1-hover : 20px 37px 102px rgba(0,0,0,0.2);
}
