<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .Title }}{{ .Title }}{{ end }} | {{ .Site.Title }}</title>
    {{- partial "seo.html" . -}}
    <!-- {{- partial "google-analytics.html" . -}} -->
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet"> 
    {{ $style := resources.Get "scss/template.scss" | toCSS}}
    {{ $bscss := resources.Get "css/bootstrap.min.css" | toCSS}}
    {{ $allcss := slice $bscss $style | resources.Concat "/css/vendor.css" | minify | fingerprint }}
    <script src="https://unpkg.com/phosphor-icons"></script>
    <link rel="stylesheet" href="{{ $allcss.Permalink }}" integrity="{{ $allcss.Data.Integrity }}">
</head>